---
layout: default
---

<div class="post content">
	<h2>{{ page.title }}</h2>
	<div class="post-meta span-3">
		<p>
			<strong>{{ page.date | date: "%B %d, %Y" }}</strong>
		</p>
	</div>
	<div class="post-content span-14 last">
		{{ content }}
	</div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_identifier = "{{ page.id }}";
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://noncomplexstuff.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=noncomplexstuff">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
